extends layout

block content
  .row
    .col-md-2.col-sm-3.col-xs-4.col-xs-offset-4.col-sm-offset-0
      img(srcset="/images/me-108.jpg  108w, /images/me-224.jpg  224w",
      src="/images/me.jpg",
      alt="Picture of Alice Young, looking down at her cellphone, with a camera in her lap. Taken by Ali Ukani").img-responsive.proPic
    .col-lg-7.col-md-9.col-sm-9.col-xs-12
      h1 Under Reconstruction.
      p.
        If you came looking for a portfolio, a copy of the old site can be found
        #[a(href="//aliceyoung9.github.io") here].
      p.
        Why the rewrite? A horrifying evening of wrangling my server proved to
        me that the way I was hosting it was...a tad unsustainable. It was
        raining 502 errors all the time. :(
      h1 Current Projects
      ul 
        li I'm making plenty of #[a(href="//art.aliceyoung.io") art] this summer.
        li Watch #[a(href="https://github.com/aliceyoung9/port-wine") this site] come to life.
      h1 Contact
      p 
        #[a(href="mailto:aliceyoung.9@gmail.com") aliceyoung.9@gmail.com]
